@use "abstracts" as *;
@use "sass:color";

#footer {
  padding: 3rem 0;
  background: $gray;

  .footer-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

    .box {
      strong {
        text-transform: uppercase;
        color: $blue;
      }

      .footer-list {
        margin-top: 1.5rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .list-item {
          color: #fff;
          cursor: pointer;
          transition: all 0.3s;

          a {
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $blue;
            }
          }

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  .copy {
    padding-top: 1.5rem;
    border-top: 1px solid rgb(143, 143, 143);
    color: #fff;
    text-align: center;

    strong {
      font-style: italic;
      color: #fff;
      font-family: "Kanit", sans-serif;
    }

    span {
      color: $blue;
    }
  }
}

@media (max-width: 1199px) {
  #footer {
    .footer-row {
      flex-wrap: wrap;
      gap: 5rem;
      .box {
        width: 100%;
        text-align: center;
      }
    }
  }
}
