@use "abstracts" as *;
@use "sass:color";

#header {
  width: 100%;
  background: $gray;
  padding: 2.5rem 0;
  position: fixed;
  top: 0;
  z-index: 5;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box-logo {
      .item-link {
        text-decoration: none;
      }

      .logo-title {
        font-family: "Kanit", sans-serif;
        font-size: 40px;
        font-style: italic;
        span {
          color: $blue;
        }
      }
    }

    .header-menu {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 3rem;

      .menu-item {
        .item-link {
          text-decoration: none;
          font-weight: 500;
          transition: color 0.3s;
          padding: 1rem 1.5rem;
          display: inline-block;
          text-transform: uppercase;
          position: relative;

          &:after {
            position: absolute;
            content: "";
            bottom: 0.8rem;
            width: 0;
            background: $blue;
            height: 1px;
            left: 50%;
            transform: translate(-50%);
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            // background: color.adjust($blue, $lightness: 10%);
            &:after {
              width: 70%;
            }
          }

          &.active {
            color: $blue;
          }
        }

        &.signin-button {
          border: 1px solid #fff;
          border-radius: 0.5rem;
          position: relative;

          .item-link {
            padding: 1rem 2.5rem;
            transition: background 0.3s;

            &:after {
              display: none;
            }

            &:hover {
              color: #fff;
              background: $blue;
            }
          }

          .login {
            position: absolute;
            background: color.adjust($blue, $lightness: -5%);
            padding: 2.5rem;
            border-radius: 1rem;
            top: calc(100% + 2rem);
            left: 50%;
            transform: translateX(-50%);

            &.active {
              display: block;
            }

            input {
              padding: 0.5rem 1rem;
              outline: none;
              border: 1px solid $black;
              padding: 1rem 1.5rem;
              border-radius: 1rem;
              color: $black;

              &::placeholder {
                color: $black;
              }

              & + input {
                margin-top: 1rem;
              }
            }

            button {
              width: 100%;
              margin-top: 1.5rem;
              color: $black;
              padding: 1rem;
              background: $black;
              color: #fff;
              border: none;
              outline: none;
              border-radius: 1rem;
              cursor: pointer;
              transition: all 0.3s ease-in-out;

              &:hover {
                background: color.adjust($black, $lightness: 20%);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  #header {
    .header-nav {
      .header-menu {
        display: none;
      }
    }
  }
}
