@use "abstracts" as *;
@use "sass:color";

#main-content.product .product-review {
  gap: 7rem;

  .box-left {
    max-width: 55rem;

    .product-title {
      font-size: 4rem;
      line-height: 4.5rem;
      color: $blue;
      font-style: normal;
    }

    .product-subtitle {
      color: $black;
      font-size: 2rem;
    }

    .product-price {
      font-size: 1.6rem;
      color: $black;
    }
  }
}
